
.add-tag-wrap{
	font-family: Arial, Helvetica, '微軟正黑體' , sans-serif;
	background: #fff;
}

.add-tag-wrap header{
	background: #5966b6;
	height: 84px;
	padding-top:8px;
	text-align: center;
}

.add-tag-wrap .sub-title{
	text-align: center;
	font-size: 24px;
	font-weight: bold;
	color: #46a0cf;
	padding-top:40px;
}

.add-tag-wrap .inner-wrapper{
	padding-top: 0;
}

.add-tag-wrap .control-label{
	font-size: 18px;
	color: #747474;
}

.add-tag-wrap .form-list{
	margin-top: 25px;
	margin-bottom: 10px;
}

.add-tag-wrap .btn-success{
	margin-top: 40px;
	background: #5966b6;
	border: 1px solid #5966b6;
	width: 100%;
	border-radius: 50px;
	text-align: center;
}

.add-tag-wrap .btn-success:hover,
.add-tag-wrap .btn-success:focus,
.add-tag-wrap .btn-success:active{
	border: 1px solid #475292;
	background: #475292;
}

.add-tag-wrap .copyright{
	text-align: center;
	font-size: 16px;
	margin-top: 50px;
	color: #b7b7b7;
}

.add-tag-wrap .btn-wrap{
	margin-left: 0;
	margin-right: 0;
}

.form-control[disabled], 
.form-control[readonly], 
fieldset[disabled] .form-control{
	color: #b3b3b3;
}

#wrapper {
	background-color: transparent;
}

body {
	background-repeat: no-repeat;
	background-size: cover;
}


.inner-wrapper {

	padding-top: 0!important;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	left: 0!important;
	right: 0!important;
}

.page-header {

    margin-top: 40px!important;
    left: 0!important;
	right: 0!important;
}

.content-body{
	
	margin-left: 0!important;
	left: 0!important;
	right: 0!important;
}