/*Set a min width where your table start to look like crap*/
.fix-table { min-width: 600px; }

/*The next 3 sections make the magic happen*/
.fix-thead{
    display: table;
    width: 100%;
    table-layout: fixed;
}

.fix-tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.fix-tbody {
    display: block;
    max-height: 500px;
    overflow: overlay;
}

.fix-td {
    overflow: hidden;
    text-overflow: ellipsis;
}

.fix-tbody .text-right {
    padding-right: 20px !important;
}


/*Use the following to make sure cols align correctly*/
.fix-table, .fix-tr, .fix-th, .fix-td{
    border-collapse: collapse;
}

.fix-th-1, .fix-td-1{
	width:10%;
}

.fix-th-2, .fix-td-2{
	width:20%;
}

.fix-th-3, .fix-td-3{
	width:30%;
}

.fix-th-4, .fix-td-4{
	width:40%;
}

.fix-th-5, .fix-td-5{
	width:50%;
}

.fix-th-6, .fix-td-6{
	width:60%;
}

.fix-th-7, .fix-td-7{
	width:70%;
}

.fix-th-8, .fix-td-8{
	width:80%;
}

.fix-th-9, .fix-td-9{
	width:90%;
}

.fix-th-10, .fix-td-10{
	width:100%;
}