
.place-thumbnail{
	padding: 0 !important;
	margin: 5px 8px !important;
	display: inline-block;
	border: 1px solid #dedede;
}

.place-thumbnail.active .panel-heading,
.place-thumbnail.active .panel-body{
	/*background-color: #0c7c8f;*/
	background-color: #daf0ff;
}


#place-list .place-thumbnail.active .panel-footer{
	/*background-color: #cbf2f9;*/
	background-color: #daf0ff;
	border: 1px solid #0c7c8f;
}


#place-list .place-thumbnail.active .panel-footer .text-right{
	border-left: 1px solid #0c7c8f;
}

.place-thumbnail:hover{
	cursor: pointer;
}

.place-thumbnail:hover .panel-heading,
.place-thumbnail:hover .panel-body{
	/*background-color: #0c7c8f;*/
	background-color: #daf0ff;
}

.place-thumbnail:hover .panel-footer{
	background-color: #cbf2f9;
}

.place-thumbnail .panel-body{
	text-align: center;
}

.panel-thumbnail>.panel-heading {
    font-size: 18px;
	text-align:center;
	font-weight: bold;
}

.panel-thumbnail a {
    color: #009cd0;
}

.panel-thumbnail a:hover {
   /* color: #17c6ff;*/
   background-color: #daf0ff;
}

.panel-thumbnail > .panel-body {
	padding: 0 16px !important;
	min-width: 150px;
    min-height: 150px;
}

.panel-thumbnail img{
	max-height: 144px;
    max-width: 144px;
}

#place-list{
	overflow-x:auto;
	overflow-y:hidden;
	display: flex;
}

#place-list .panel-footer{
	color: #2ea5b9;	
	border: 1px solid #2ea5b9;
	padding: 10px 5px;
}

#place-list .panel-footer label{
	margin-bottom: 0;
}

#place-list .panel-footer .tag-num{
	font-size: 18px;
	font-weight: bold;
	padding: 0 5px;
	color: #2e79b9;
}

#place-list .panel-footer .text-right{
	color: #2ea5b9;
	float: right;
	padding-left: 5px;
}

#graphic{
	background-repeat:no-repeat;
	background-size:100% 100%;
}

#graphic-containment {
    width: 100%;
    height:800px;
    padding: 5px;
	background-color: rgba(256,256,256,0.5);
}

#graphic-containment td{
    width: 5%;
	height: 5%;
	border:0.5px dashed #8de;
	font-size: large;
}

#graphic-containment td span{

    position: relative;
    display: inline-block;
    height: 2em;
    line-height: 2em;
    vertical-align: middle;
    width: 100%;
}

#graphic-containment td .fa-tag,#graphic-containment td .wi-thermometer{
	text-shadow: 2px 2px 2px rgba(20%,20%,40%,0.6),4px 4px 6px rgba(20%,20%,40%,0.4),6px 6px 12px rgba(20%,20%,40%,0.4);
}

#tooltip{
	position: absolute;
	border:1px solid #c00;
	background: rgba(190,220,256,0.7);
	padding:10px 20px 10px 20px;
	font-weight:bold;
	font-size: 26px;
}

#color-ruler td{
    padding: 5px 1px;
}

#minValue{
	color:#0000ff;
}

#maxValue{
	color:#ff0000;
}

#lowerBound::before{
	content:"溫度警示下限：";
}

#upperBound::before{
	content:"溫度警示上限：";
}

#maxValue::after, #minValue::after, #lowerBound::after, #upperBound::after{
	content:" ℃";
}

#lowerBound, #upperBound{
	position: absolute;
}

#lowerBound{
	background-color: blue;
	color: white;
}

#upperBound{
	background-color: red;
	color: white;
}

/*.slider .tooltip.top {
    margin-top: 16px;
}*/

.temprature{
	color: #0000ff;
}

.temprature::after{
	content:" ℃";
}

.humidity{
	color: #005500;
}

.humidity::after{
	content:" %rH";
}

.ui-draggable {
	cursor: move;
}

.ui-state-hover{
	background:rgba(115, 255, 150, 0.6);
}

h1 em{
	font: message-box;
}

.dl-horizontal dt {
    text-align: left !important;
}

.slider.slider-horizontal {
    width: 100%;
    height: 20px;
}

.slider-selection {
    position: absolute;
    background-color: #c9302c;
    background-image: -webkit-linear-gradient(top,#d9534f 0%,#ac2925 100%);
    background-image: -o-linear-gradient(top,#d9534f 0%,#ac2925 100%);
    background-image: linear-gradient(to bottom,#d9534f 0%,#ac2925 100%);
}

.slider-handle {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #c9302c;
    background-image: -webkit-linear-gradient(top,#d9534f 0%,#ac2925 100%);
    background-image: -o-linear-gradient(top,#d9534f 0%,#ac2925 100%);
    background-image: linear-gradient(to bottom,#d9534f 0%,#ac2925 100%);

}

.alert-ruler{
	color: #31708f;
    background-color: #fff;
    border-color: #c9302c;
}

.alert-ruler .row{
	margin-right: 0!important;
    margin-left: 0!important;
}