.svg-container {
	margin: 30px auto;
	border: 1px solid #ddd;
	display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 50%; /* aspect ratio */
    vertical-align: middle;
    overflow: hidden;
}

.svg-content-responsive {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

.axis path, .axis line {
	stroke: #000;
	fill: none;
	shape-rendering: crispEdges;
}

.axis .tick line {
	stroke: rgba(0, 0, 0, 0.1);
}

.line {
	stroke: #00D9D4;
	fill: none;
	stroke-width: 3;
}

.lineLowLimit {
	stroke: #0077B3;
	fill: none;
	stroke-width: 1;
}

.lineUpperLimit {
	stroke: #eb0027;
	fill: none;
	stroke-width: 1;
}

.itemLine{
	stroke: #ffb980;
	fill: none;
	stroke-width: 3;
}

.itemText{
	stroke: #ffb980;	
	fill: #ffb980;
}

.text{
	stroke: #00D9D4;	
	fill: #00D9D4;
}

.stationLine {
	stroke: #00D9D4;
	stroke-width: 3;
	fill: none;
}

rect{
	fill : #0ff;
}