#wrapper {
	background-color: transparent;
}

body {
	background-repeat: no-repeat;
	background-size: cover;
	font-family: Arial, Helvetica, '微軟正黑體' , sans-serif;
}

.inner-wrapper {

	position: relative;
	margin-left: auto;
	margin-right: auto;
	left: 0!important;
	right: 0!important;
}

.page-header {

    margin-top: 40px!important;
    left: 0!important;
	right: 0!important;
}

.content-body{
	
	margin-left: 0!important;
	left: 0!important;
	right: 0!important;

}

.error-message-wrap .icon-wrap{
	text-align: center;
	margin-top: 100px;
}

.error-message-wrap .icon-wrap i{
	font-size: 60px;
	color: #5966b6;
}

.error-message-wrap h3{
	text-align: center;
	line-height: 1.8em;
	color: #676767;
}