<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="iot_realtime">
        <wb-resource deploy-path="/" source-path="/target/m2e-wtp/web-resources"/>
        <wb-resource deploy-path="/" source-path="/src/main/webapp" tag="defaultRootSource"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src/main/java"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src/main/resources"/>
        <dependent-module archiveName="iot.group-1.0.1-group.jar" deploy-path="/WEB-INF/lib" handle="module:/resource/iot.group/iot.group">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="itri.chart-1.0.1-chart.jar" deploy-path="/WEB-INF/lib" handle="module:/resource/chart/chart">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <property name="java-output-path" value="/iot.realtime/target/classes"/>
        <property name="context-root" value="iot_realtime"/>
    </wb-module>
</project-modules>
