@charset "UTF-8";
.login-wrap{
	background: #cdf3fd url(../../img/login.jpg) no-repeat;
	background-size: cover;
}

.login-wrap .panel-title-sign{
	margin-bottom: 20px;
}

.login-wrap .body-sign .panel-sign .panel-body{
	border-radius: none;
	border-top-color: #0077B3;
}

.btn-login-wrap{
	margin: 30px -15px 10px -15px;
}

html.no-overflowscrolling .nano > .nano-content{

}

.header{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00c4ea+0,00d9d4+65,48eab0+100 */
background: #00c4ea; /* Old browsers */
background: -moz-linear-gradient(45deg, #00c4ea 0%, #00d9d4 65%, #48eab0 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg, #00c4ea 0%,#00d9d4 65%,#48eab0 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg, #00c4ea 0%,#00d9d4 65%,#48eab0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00c4ea', endColorstr='#48eab0',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
border: 0;
}

html.sidebar-light:not(.dark) .page-header{
	border: 0;
	background: #fff;
	box-shadow: 0px 0px 4px 5px #e6e7f0;
}

body{
	background: #e8eff1;
}

html.sidebar-light:not(.dark) .sidebar-left .sidebar-header .sidebar-title{
	background: #f6f6f6;
}

html.sidebar-light:not(.dark) ul.nav-main > li > a{
	border-left: 5px solid #fff;
}

html.sidebar-light:not(.dark) ul.nav-main > li.nav-expanded > a{
	border-left: 5px solid #00C4EA;
}
.nano-content ul.nav-main > li{
   border-bottom: 1px solid #ededed;
}

.header .logo{
	margin: 14px 0 0 12px;
}

.header .userbox .name{
	color: #fff;
	font-weight: bold;
	font-size: 1.4rem;
	letter-spacing: 1px;
}

.header .userbox .role{
	color: #fff;
	font-size: 1.3rem;
	padding-top: 5px;
}

.header .userbox{
	margin-top: 5px;
}

.header .userbox.open .name,
.header .userbox.open .role{
	color: #7d7d7d;
}

.header .userbox.open .dropdown-menu{
	padding-top: 50px;
}

.header .userbox.open .dropdown-menu a > i{
	padding-right: 5px;
}

.breadcrumbs i{
	color: #999;
}

@media only screen and (max-width: 767px){
.header .logo-container {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00c4ea+0,00d9d4+65,48eab0+100 */
background: #00c4ea; /* Old browsers */
background: -moz-linear-gradient(45deg, #00c4ea 0%, #00d9d4 65%, #48eab0 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg, #00c4ea 0%,#00d9d4 65%,#48eab0 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg, #00c4ea 0%,#00d9d4 65%,#48eab0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00c4ea', endColorstr='#48eab0',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
border: 0;
	}

.header .header-right{
		background: none;
	}
}

.panel-title,
.page-header,
.panel-heading{
	font-family: "微軟正黑體", Helvetica, Arial, sans-serif;
}

.panel-title > i:before{
	padding-right: 5px;
}

.inner-wrapper .content-body .panel{
	box-shadow: 0px 0px 4px 5px #e6e7f0;
}

.panel-body > .fittext > b{
	font-size: 48px;
}